* {
  list-style: none;
  text-decoration: none;
}


:root {
  --colorOfHearders: #212121;
  --colorOfParagraphs: #757575;
  --activeSelection: #2196F3;
  --addColor: #FFFFFF;

}

body {
  background: #F5F5F5;
  color: var(--colorOfHearders);
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #000000;

}

.logo .accent {
  color: #2196F3;
}

.links {
  letter-spacing: 0.02em;
  color: var(--colorOfHearders);

}

.site-nav .links:hover,
.site-nav .links:focus {
  color: var(--activeSelection);
}